html
	head
		style.
			img {max-width: 150px; max-height: 150px;}
	body
		table
			thead
				tr
					th
					th Role1
					th Role2
			tbody
				tr
					td Bucket1
					td
						img(src="/role/1/bucket/1")
					td
						img(src="/role/2/bucket/1")
				tr
					td Bucket2
					td
						img(src="/role/1/bucket/2")
					td
						img(src="/role/2/bucket/2")
